* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.color {
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
